{{# each productsList }}

<div class="row">
    {{# each this}}

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="{{ this.imagePath }}" class="img-responsive" alt="...">
            <div class="caption">
                <a href="/product-view/{{this._id}}" class=""><h3>{{ this.title }}</h3></a>
                <!--<p class="description">{{ this.description }}</p>-->
                <div class="clearfix">
                    <div class="price pull-left">${{ this.price }}</div>
                    <a href="/add-to-cart/{{ this._id }}" class="btn btn-success pull-right" role="button">Add to Shopping Cart</a>
                </div>
            </div>
        </div>
    </div>
    {{/each}}

</div>

{{/each}}


